:host ::ng-deep .ant-table-wrapper {
  width: 300px;
}

:host ::ng-deep .ant-table-header {
  width: 300vw;
}

:host ::ng-deep .ant-table-body {
  width: 300vw;
}

div.scroll {
  margin: 4px, 4px;
  padding: 4px;
  width: 100%;
  overflow-x: auto;
}
