:host ::ng-deep .ant-table-wrapper {
  width: 300px;
}

:host ::ng-deep .ant-table-header {
  width: 150vw;
}

:host ::ng-deep .ant-table-body {
  width: 150vw;
}

div.scroll {
  margin: 1px, 1px;
  padding: 4px;
  width: 100%;
  overflow-x: auto;
}

td.data-size{
  font-size: xx-small;
}

th.header-size{
  font-size: xx-small;
}