:host ::ng-deep .ant-table-wrapper {
  width: 500px;
}

//xx
:host ::ng-deep .ant-table-pagination.ant-pagination {
  margin: 10px;
}

:host ::ng-deep .ant-table-pagination-right {
  justify-content: left;
}
:host ::ng-deep .ant-table-header {
  width: 200vw;
}

:host ::ng-deep .ant-table-body {
  width: 200vw;
}

div.scroll {
  margin: 0px, 0px;
  padding: 0px;
  width: 100%;
  overflow-x: scroll;
}

td.data-size {
  font-size: 9px;
}

th.header-size {
  font-size: 10px;
}
