.content {
  text-align: center;
}

#logo {
  height: 70px;
  padding: 0;
  margin-right: 14px;
}

.nav-links {
  list-style-type: none;
  min-height: 70px;
  height: 70px;
  padding: 10px;
  margin: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.nav-item {
  padding: 14px;
}

.nav-link {
  color: black;
  font-weight: bold;
}
