<div>
  <nz-card
    class="section-title"
    style="background-color: lightcoral">
    <button
      (click)="activeModel.dismiss('Cross click')"
      aria-label="Close"
      class="close"
      type="button">
      <span aria-hidden="true"> × </span>
    </button>
    <h2
      class="page-title"
      style="color: white">Quota</h2>
  </nz-card>
  <div>
    <nz-tabset nzCentered>
      <style>
        .info-container {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
        }
      
        .info-box {
          background-color: #f4f4f4;
          padding: 40px;
          margin: 10px;
          width: 375px;
          height: 135px;
          border-radius: 5px;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          font-family: Arial, sans-serif;
          text-align: center;
        }
      
        .info-heading {
          font-weight: bold;
          font-size: 18px; 
        }
      
        .info-content {
          font-size: 24px; 
          margin-top: 10px; 
        }
      </style>
      
      <nz-tab nzTitle="quota table">
        <div class="info-container">
          <div class="info-box">
            <h2 class="info-heading">Files uploaded</h2>
            <p class="info-content">{{ this.createdFiles.length }}</p>
          </div>
          <div class="info-box">
            <h2 class="info-heading">Workflows created</h2>
            <p class="info-content">{{ this.createdWorkflows.length }}</p>
          </div>
          <div class="info-box">
            <h2 class="info-heading">Files can be accessed</h2>
            <p class="info-content">{{ this.accessFiles.length }}</p>
          </div>
          <div class="info-box">
            <h2 class="info-heading">Workflows can be accessed</h2>
            <p class="info-content">{{ this.accessWorkflows.length }}</p>
          </div>
          <div class="info-box">
            <h2 class="info-heading">Total size of the files (mb)</h2>
            <p class="info-content">{{ this.totalSize }}</p>
          </div>
        </div>
      </nz-tab>
      <nz-tab
        nzForceRender
        nzTitle = "mongoDB">
        <div
          nz-row
          nzJustify="center">
          <div nz-col>
            <div id="mongodb-storage-pie-chart"></div>
          </div>
        </div>
      </nz-tab>
      <nz-tab
        nzForceRender
        nzTitle = "Top 5 Files">
        <div
          nz-row
          nzJustify="center">
          <div nz-col>
            <div id="uploaded-file-bar-chart"></div>
          </div>
        </div>
      </nz-tab>
    </nz-tabset>
  </div>
</div>
