<nz-sider
    nzCollapsible
    [nzCollapsedWidth]="45"
    nzTheme="light">
    <ul
      nz-menu
      nzMode="inline">
      <li
        nz-menu-item
        nz-tooltip="Look up the user projects"
        nzMatchRouter="true"
        nzTooltipPlacement="right"
        routerLink="/dashboard/user-project">
        <span
          nz-icon
          nzType="container"></span>
        <span>Projects</span>
      </li>

      <li
        nz-menu-item
        nz-tooltip="Open the saved workflows"
        nzMatchRouter="true"
        nzTooltipPlacement="right"
        routerLink="/dashboard/workflow">
        <span
          nz-icon
          nzType="project"></span>
        <span>Workflows</span>
      </li>

      <li
        nz-menu-item
        nz-tooltip="Look up for workflow result files"
        nzMatchRouter="true"
        nzTooltipPlacement="right"
        routerLink="/dashboard/user-file">
        <span
          nz-icon
          nzType="folder-open"></span>
        <span>Results</span>
      </li>

      <li
        nz-menu-item
        nz-tooltip="Look up for datasets"
        nzMatchRouter="true"
        nzTooltipPlacement="right"
        routerLink="/dashboard/dataset">
        <span
          nz-icon
          nzType="database"></span>
        <span>Datasets</span>
      </li>

      <li
        nz-menu-item
        nz-tooltip="Search across the entire site"
        nzMatchRouter="true"
        nzTooltipPlacement="right"
        routerLink="/dashboard/search">
        <span
          nz-icon
          nzType="file-search"></span>
        <span>Search</span>
      </li>
      <li
        nz-menu-item
        nz-tooltip="Quota information"
        nzMatchRouter="true"
        nzTooltipPlacement="right"
        routerLink="/dashboard/user-quota">
        <span
          nz-icon
          nzType="dashboard"></span>
        <span>Quota</span>
      </li>
    </ul>
  </nz-sider>