:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: white;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 380px;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.login-container > texera-local-login {
  width: 100%;
}

.login-container > texera-google-login {
  margin: 10px 0;
  display: flex;
  justify-content: center;
  transform: translateX(-10px);
}

.separator {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
}

.separator::before,
.separator::after {
  content: '';
  flex: 1;
  height: 1px;
  background-color: #ccc;
}

.separator span {
  margin: 0 10px;
  font-size: 14px;
  color: #666;
}

.logo {
  width: 100px;
  height: auto;
  margin-top: 10px;
}
