.draggable-panel {
  position: absolute;
  top: 200px;
  left: 200px;
  width: 400px;
  height: 400px;
  background-color: #fff;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  border: 1px solid #ccc;
  border-radius: 5px;
  z-index: 1000;
  resize: both;
  overflow: auto;
}

.panel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #007bff;
  color: white;
  padding: 10px;
  font-weight: bold;
  text-align: center;
  cursor: move;
}

.close-button {
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.close-button:hover {
  color: royalblue;;
}

.iframe-container {
  width: 100%;
  height: calc(100% - 40px); /* Adjust height for the header */
}

.iframe-container iframe {
  width: 100%;
  height: 100%;
  border: none;
}
