.drag-file-area {
  text-align: center;
  height: 200px;
  border-radius: 50px;
  border: 2px dashed lightblue;
  cursor: pointer;
  padding: 20px;
  margin: 10px 0;
  .upload-icon {
    font-size: 4em;
    color: #2d6c7a;
  }
  span {
    display: block;
    margin-top: 10px;
    font-size: 1em;
  }
  label {
    display: block;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 20px;
    transition: background-color 0.3s;
    &:hover {
      background-color: darken(#007bff, 10%);
    }
  }
  #file-upload {
    display: none;
  }
  #directory-upload {
    display: none;
  }
}
.have-file-over {
  background: #f7f7f7;
  border-style: solid;
}
.file-list {
  list-style: none;
  padding: 0;
  .file-queue-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    span {
      flex-grow: 1;
      padding-right: 10px;
    }
    .queue-delete-button {
      background-color: #d9534f;
      color: #fff;
      border: none;
      border-radius: 4px;
      padding: 5px 10px;
      cursor: pointer;
      &:hover {
        background-color: darken(#d9534f, 10%);
      }
    }
  }
}
