<div class="drag-file-area"
     type="file"
     (fileOver)="haveFileOver($event)"
     (onFileDrop)="getFileDropped($event)"
     [ngClass]="{ 'have-file-over': haveDropZoneOver }"
     [uploader]="uploader"
     ng2FileDrop>
    <i class="fa fa-cloud-upload-alt upload-icon"></i>
    <!-- <span>
        Drop Files Here or Click to Upload
    </span> -->
    <input
        #clickUpload
        (change)="handleClickUploadFile($event)"
        multiple
        type="file"
        id="directory-upload"
        webkitdirectory
        directory/>
    <label for="directory-upload">Choose directory</label>
    <input
        #clickUpload
        (change)="handleClickUploadFile($event)"
        multiple
        type="file"
        id="file-upload"/>
    <label for="file-upload">Choose file</label>
</div>
<div *ngIf="getFileArrayLength()">
    <h6 class="new-upload-title">Uploads</h6>
    <ul class="file-list">
        <li *ngFor="let file of getFileArray()" class="file-queue-item">
            <span>{{ file.name }}</span>
            <button (click)="deleteNewFile(file)" [disabled]="file.isUploadingFlag" class="queue-delete-button">
                <i class="fa fa-trash"></i>
            </button>
        </li>
    </ul>
</div>
