.file-uploader {
  //border: 2px dashed #D3D3D3;
  //border-radius: 8px;
  text-align: center;
  padding: 20px;
  transition: border-color 0.3s ease-in-out;
  margin: auto; /* Center the uploader if width is less than 100% */
}

.ngx-drop-box {
  width: 100%; /* Example relative width */
  height: 90%;
}

.file-uploader:hover {
  border-color: #007bff;
}

.file-drop-description p {
  font-size: small;
  margin: 10px 0;
}

.file-drop-hint {
  font-size: smaller;
  color: #757575;
}

.uploaded-files-list {
  margin-top: 20px;
}

.file-list {
  list-style-type: none;
  padding-left: 0;
  margin-top: 10px;
}

.file-queue-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #f0f0f0;
  padding: 10px;
}

.file-queue-item span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.file-queue-item button {
  margin-left: 15px;
}

/* Optional: Add animations for the file items */
.file-queue-item {
  transition: background-color 0.3s ease-in-out;
}

.file-queue-item:hover {
  background-color: #f9f9f9;
}

.upload-file-button {
  padding: 5px 20px; /* Smaller padding to make the button thinner */
  font-size: 0.8em; /* Optionally reduce font size */
  height: 30px; /* Or set a specific height */
  display: inline-flex; /* Use flexbox to center content */
  align-items: center; /* Align items vertically */
  justify-content: center;
  margin-bottom: 15px;
}
