<nz-timeline
[nzPending]="replay.isReplaying ? 'Replaying to ' + (replay.selectedKey / 1000) + 's ...' : false">
  <nz-timeline-item
  *ngFor="let t of replay.historyStatus | keys;"
  [nzColor]="replay.selectedKey === t ? 'red': (replay.historyStatus[t] ==='interaction' ? 'gray': (replay.historyStatus[t] === 'partial' ? 'green' :'blue'))"
  >
    <div
      [style]="{
        'padding-bottom': '10px',
        'margin-bottom': '0px'
        }"
      (click)="replay.selectReplayPoint(t)">
      <p [style]="{'cursor': 'pointer'}">{{t / 1000}}s</p>
    </div>
  </nz-timeline-item>
</nz-timeline>


<label *ngIf="replay.replayTime !== 0">Replay Time: {{replay.replayTime}}s, Checkpoint Overhead: {{replay.checkpointTime}}s</label>
<label>Time limit for next replay(in seconds):
  <input type="number" name="input"
         min="1" max="99" [(ngModel)]="replay.replayTimeLimit" required>
</label>
<label>Replay Planner Strategy:</label>
<select [(ngModel)]="replay.selectedMode">
  <option *ngFor="let mode of replay.plannerStrategies;" [value]="mode">{{mode}}</option>
</select>
<button mat-stroked-button (click)="replay.clickButton()">
  Request Operator Info
</button>

<nz-list nzItemLayout="vertical">
  <nz-list-item *ngFor="let info of replay.operatorInfo;">
    <p><b>{{info[0]}}</b> <br><p>
    <p>{{info[1]}}</p>
  </nz-list-item>
</nz-list>
