<button *ngIf="!replay.prepPhaseFinished" nz-button nzType="primary" (click)="replay.triggerPrepPhase()" [nzLoading]="replay.triggeredPrepPhase">
  Start Preparation Phase
</button>

<nz-timeline
  *ngIf="replay.prepPhaseFinished"
[nzPending]="replay.isReplaying ? 'Replaying to ' + (replay.selectedKey / 1000) + 's ...' : false">
  <nz-timeline-item
  *ngFor="let t of replay.history.keys();"
  [nzDot]="replay.history.get(t)!.isInteraction? interaction:nonInteraction"
  [nzColor]="(replay.history.get(t)!.checkpointStatus === 'partial' ? 'green' : (replay.history.get(t)!.checkpointStatus === 'none' ? 'gray': 'blue'))"
  >
    <div
      [style]="{
        'padding-bottom': replay.history.get(t)!.padding+'px',
        'padding-top': '0px',
        'margin-top': '0px',
        'margin-bottom': '0px',
        'font-weight': replay.selectedKey === t? 'bold': 'normal'
        }">
      <p *ngIf="!replay.history.get(t)!.isInteraction" [style]="{'cursor':'default','margin-bottom': '0px'}">{{replay.history.get(t)!.isStartingPoint? "start": (t / 1000) + 's'}}</p>
      <p *ngIf="replay.history.get(t)!.isInteraction" (click)="replay.selectReplayPoint(t)" [style]="{'cursor': 'pointer', 'margin-bottom': '0px'}">{{replay.history.get(t)!.isStartingPoint? "start": (t / 1000) + 's'}}</p>
    </div>
  </nz-timeline-item>
</nz-timeline>
<ng-template #nonInteraction>
  <span nz-icon nzType="down-square"></span>
</ng-template>

<ng-template #interaction>
  <span nz-icon nzType="play-circle"></span>
</ng-template>


<label *ngIf="replay.replayTime !== 0">Replay Time: {{replay.replayTime}}s, Checkpoint Overhead: {{replay.checkpointTime}}s</label>
<label>Time limit for next replay(in seconds):
  <input type="number" name="input"
         min="1" max="99" [(ngModel)]="replay.replayTimeLimit" required>
</label>
<button mat-stroked-button (click)="replay.clickButton()">
  Request Operator Info
</button>

<nz-list nzItemLayout="vertical">
  <nz-list-item *ngFor="let info of replay.operatorInfo;">
    <p><b>{{info[0]}}</b> <br><p>
    <p>{{info[1]}}</p>
  </nz-list-item>
</nz-list>
