<nz-timeline
[nzPending]="replay.isReplaying ? 'Replaying to ' + (replay.selectedKey / 1000) + 's ...' : false">
  <nz-timeline-item
  *ngFor="let t of replay.history.keys();"
  [nzColor]="replay.selectedKey === t ? 'red': (replay.history.get(t)!.isInteraction ? 'gray': (replay.history.get(t)!.checkpointStatus === 'partial' ? 'green' :'blue'))"
  >
    <div
      [style]="{
        'padding-bottom': replay.history.get(t)!.padding+'px',
        'padding-top': '0px',
        'margin-top': '0px',
        'margin-bottom': '0px'
        }"
      (click)="replay.selectReplayPoint(t)">
      <p [style]="{'cursor': 'pointer', 'margin-bottom': '0px'}">{{t / 1000}}s</p>
    </div>
  </nz-timeline-item>
</nz-timeline>


<label *ngIf="replay.replayTime !== 0">Replay Time: {{replay.replayTime}}s, Checkpoint Overhead: {{replay.checkpointTime}}s</label>
<label>Time limit for next replay(in seconds):
  <input type="number" name="input"
         min="1" max="99" [(ngModel)]="replay.replayTimeLimit" required>
</label>
<button mat-stroked-button (click)="replay.clickButton()">
  Request Operator Info
</button>

<nz-list nzItemLayout="vertical">
  <nz-list-item *ngFor="let info of replay.operatorInfo;">
    <p><b>{{info[0]}}</b> <br><p>
    <p>{{info[1]}}</p>
  </nz-list-item>
</nz-list>
