#search-box {
  border-bottom: 1px solid #e0e0e0;
  position: absolute;
  top: 33px;
  z-index: 1;
  background: white;
  width: calc(100% - 33px);
  input {
    border: none;
    padding: 4px 9px;
  }
}

.operator-submenu-title {
  background-color: #fff;
  border-bottom: 1px solid #e0e0e0 !important;
}

.operator-second-title-wrap {
  background-color: #fff;
}

.operator-second-title {
  background-color: #fff;
  border-bottom: none !important;
  width: 90%;
  margin-left: 10%;
}

.operator-submenu {
  border: none;
}

.texera-operator-label {
  padding-left: 30px !important;
  padding-right: 0;
  margin: 0 !important;
  height: 32px;
  background-color: transparent;
}

#operator-menu {
  margin-top: 32px;
}
