<div id="search-box">
  <input
    placeholder="search operator"
    nz-input
    [(ngModel)]="searchInputValue"
    (input)="onInput($event)"
    [nzAutocomplete]="autocomplete" />
  <nz-autocomplete
    #autocomplete
    [nzBackfill]="false"
    (selectionChange)="onSelectionChange($event)">
    <nz-auto-option
      *ngFor="let option of autocompleteOptions"
      [nzValue]="option"
      [nzLabel]="option.additionalMetadata.userFriendlyName"
      [nzDisabled]="! canModify">
      <texera-operator-label [operator]="option"></texera-operator-label>
    </nz-auto-option>
  </nz-autocomplete>
</div>
<nz-collapse
  id="operator-menu"
  [nzBordered]="false"
  nzAccordion>
  <nz-collapse-panel
    *ngFor="let groupName of groupNamesOrdered"
    [nzHeader]="groupName"
    class="operator-submenu-title">
    <nz-collapse
      [nzBordered]="false"
      nzAccordion
      class="operator-second-title-wrap">
      <ng-container *ngFor="let operatorSchema of operatorGroupMap.get(groupName)">
        <nz-collapse-panel
          *ngIf="operatorSchema.name"
          [nzHeader]="operatorSchema.name"
          class="operator-second-title">
          <ng-container *ngFor="let item of operatorSchema.operator">
            <div class="texera-operator-label">
              <texera-operator-label [operator]="item"></texera-operator-label>
            </div>
          </ng-container>
        </nz-collapse-panel>
        <ng-container *ngIf="!operatorSchema.name">
          <div class="texera-operator-label">
            <texera-operator-label [operator]="operatorSchema"></texera-operator-label>
          </div>
        </ng-container>
      </ng-container>
    </nz-collapse>
  </nz-collapse-panel>
</nz-collapse>
