.container {
  display: flex;
  flex-direction: column;
  padding: 20px 133px;
  align-items: center;
  min-height: 110vh;
  padding-top: 60px;
  height: 100%;
  width: 100%;
  position: relative;
}

.go-back-button {
  position: absolute;
  left: 20px;
  top: 20px;
}

.workflow-info {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.entity-type {
  display: flex;
  flex-direction: row;
  align-items: center;  
}

.type-icon {
  color: grey;
  margin-right: 5px;
  font-size: 18px;
}

.type-text {
  color: grey;
}

.workflow-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.workflow-info h1 {
  font-size: 42px;
  padding: 0px;
  margin-bottom: 20px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.workflow-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.workflow-owner-info {
  display: flex;
  align-items: center; 
}

.workflow-button-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.owner-name {
  margin-left: 10px;
  font-weight: thin;
}

.workflow-avatar {
  text-align: center;
}

.main-canvas {
  width: 100%;
  max-width: 1200px;
  padding: 300px;
  background-color: #e9e9e9;
}

.workflow-steps {
  margin-top: 20px;
  width: 100%;
  max-width: 1200px;
}

.workflow-step {
  background-color: #f9f9f9;
  padding: 15px;
  margin-bottom: 10px;
  border-left: 5px solid #007bff;
}

.workflow-step h3 {
  margin: 0;
  color: #007bff;
}

.workflow-step p {
  margin: 5px 0;
}

.preview-containers {
  position: relative;
  height: 500px;
  width: 1000px;
}

texera-mini-map {
  position: absolute;
  bottom: 0;
  right: 0;
  //z-index: 3;
}

