<texera-user-avatar
  [googleAvatar]="user?.googleAvatar || ''"
  [nzDropdownMenu]="menu"
  [userColor]="user?.color || ''"
  [userName]="user?.name || 'login'"
  nz-button
  nz-dropdown
  nzPlacement="bottomRight"
  [nzVisible]="isDropdownVisible"
  (nzVisibleChange)="onDropdownVisibilityChange($event)"
  (click)="handleAvatarClick()">
</texera-user-avatar>

<nz-dropdown-menu #menu="nzDropdownMenu">
  <ul nz-menu [hidden]="!this.user">
    <li
      (click)="onClickLogout()"
      nz-menu-item>
      Sign Out
    </li>
  </ul>
</nz-dropdown-menu>
