#workflow-editor-wrapper {
  height: 100%;
}

#workflow-editor {
  height: 100%;
}

::ng-deep #workflow-editor .connection-wrap {
  stroke-width: 0;
}

::ng-deep #workflow-editor .link-tools .tool-remove path {
  fill: #d8656a;
  transform: translate(-12px, -12px);
}

::ng-deep #workflow-editor .link-tools .tool-remove circle {
  fill-opacity: 0;
}

.floating-tip {
  z-index: 1000;
  pointer-events: none;
}

.floating-tip {
  z-index: 1000;
  pointer-events: none;
  background-color: #FFF;
  border: 1px solid #CCC;
  border-radius: 4px;
  padding: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  font-size: 12px;
  white-space: nowrap;
}
