.rounded-button {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 50px;
  margin-left: 20px;
}

.rounded-button:hover {
  background-color: gray;
}

.version-storage {
  padding-left: 25px;
  width: 90%;        /* Set the width to 90% */
  margin-left: auto; /* Center align the element by setting auto margins */
  margin-right: auto;
 }

.version-storage nz-select {
  width: 100%; /* Make the select element take the full width of its parent */
}

.right-panel-title {
  padding-left: 20px;
  text-align: center;
  margin-top: 10px;
}

nz-layout {
  height: 100%;
}

html,body{
  height: 100%;
  margin: 0;
  padding: 0;
}

.sider-resize-line {
  height: 100%;
  width: 5px;
  border-right: 1px solid #e8e8e8;
}

.sider-resize-handle {
  background: #fff;
  border: 1px solid #ddd;
  text-align: center;
  font-size: 12px;
  height: 20px;
  line-height: 20px;
  margin-top: 400px;
}

.file-renderer {
  width: 95%;
  height: 80%;
  margin: auto;
}

.dataset-version-creator {
  height: 100%;
}

.grayed-out {
  filter: grayscale(1) opacity(0.7);
  background-color: #f0f0f0; /* Adjust the color as needed */
}

.disabled-click {
  pointer-events: none;
}
