<div class="section-container subsection-grid-container">
  <nz-card class="section-title">
    <h2 class="page-title">Environments</h2>
    <texera-filters #filters></texera-filters>
  </nz-card>

  <div class="section-search-bar environment-search-bar">
    <nz-select
      class="search-input-box"
      name="search-input-box"
      nzMode="tags"
      nzPlaceHolder="Search all environment"
      [nzBorderless]="true"
      [nzOpen]="false"
      ngDefaultControl
      [(ngModel)]="filters.masterFilterList"
      [nzAllowClear]="true">
    </nz-select>
  </div>

  <texera-search-results
    [editable]="true"
    (deleted)="deleteEnvironment($event)"></texera-search-results>
</div>
