<div class="modal-header">
  <h4 class="modal-title">Select Environment for the workflow</h4>
</div>
<div class="modal-body">
  <div class="form-group">
    <!-- Dropdown for selecting from existing environments -->
    <label>From existing environments:</label>
    <select
      class="form-control"
      [(ngModel)]="selectedEnvironmentId">
      <option
        value="null"
        selected>
        Create a new environment
      </option>
      <option
        *ngFor="let env of environments"
        [value]="env.environment.eid">
        {{env.environment.eid}}: {{env.environment.name}}
      </option>
    </select>
  </div>
  <button
    class="btn btn-primary"
    (click)="goToWorkflow()">
    {{goButtonText}}
  </button>
</div>
