<div class="modal-header">
  <h4 class="modal-title">Select Environment</h4>
</div>
<div class="modal-body">
<!--  <form [formGroup]="validateForm" (ngSubmit)="onSubmitAddDatasetToEnvironment()">-->
<!--    <div class="form-group">-->
<!--      &lt;!&ndash; Name Field &ndash;&gt;-->
<!--      &lt;!&ndash;      <nz-card nzTitle="Name">&ndash;&gt;-->
<!--      <nz-form-item>-->
<!--        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="name">Dataset Name</nz-form-label>-->
<!--        <nz-form-control [nzSm]="14" [nzXs]="24">-->
<!--          <input nz-input id="name" type="text" formControlName="name">-->
<!--        </nz-form-control>-->
<!--      </nz-form-item>-->
<!--      &lt;!&ndash;      </nz-card>&ndash;&gt;-->
<!--    </div>-->
<!--    <button nz-button nzType="primary" type="submit">Submit</button>-->
<!--  </form>-->
</div>
