<div class="modal-header">
  <h4 class="modal-title">Select Environment for the workflow</h4>
</div>
<div class="modal-body">
  <div class="form-group">
    <!-- Dropdown for selecting from existing environments -->
    <label>From existing environments:</label>
    <select class="form-control" [(ngModel)]="selectedEnvironment">
      <option [ngValue]="null" [ngStyle]="{'font-style': 'italic'}">Create a new environment</option>
      <option *ngFor="let env of existingEnvironments" [value]="env">{{env}}</option>
    </select>
  </div>
  <button class="btn btn-primary" (click)="goToWorkflow()">Go to the workflow editor</button>
</div>
