.container {
  display: flex;
  flex-direction: column;
  padding: 20px 68px;
  align-items: center;
  min-height: 110vh;
  height: 100%;
  width: 100%;
}

.search-bar {
  max-width: 1200px;
  width: 100%;
}

.section-intro {
  max-width: 1200px;
  margin-top: 20px;
  padding: 20px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.section-intro-text {
  width: 500px;
}

.section-intro-text > h1 {
  font-size: 40px;
  font-weight: bold;
  margin: 0;
}

.section-intro-text > p {
  color: grey;
  font-size: 13px;
  font-weight: thin;
  margin-bottom: 20px;
}

.button-group {
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-intro-img {
  height: 176px;
}

.browse-section {
  max-width: 1200px;
  width: 100%;
}
