#nav {
  list-style-type: none;
  height: 70px;
  padding: 10px;
  background-color: #f8f9fa;
  span {
    float: left;
    padding: 14px;
    a {
      color: black;
      font-weight: bold;
    }
  }
}

#logo {
  float: left;
  margin-right: 14px;
}

texera-google-login {
  float: right;
  padding: 5px 0;
}

texera-user-icon {
  float: right;
  padding: 8px;
}

button {
  border: none;
}

.layout {
  height: calc(100vh - 70px);
}

.ant-layout-content {
  background-color: white;
}

.ant-menu {
  overflow-x: hidden;
  overflow-y: auto;
  height: calc(100vh - 70px - 48px);
}
