.navbar {
  height: 75px;
  padding: 8px 0;
  display: flex;
  align-items: center;
  background-color: white;
  justify-content: space-around;
}

.logo {
  height: 75px;
  padding: 15px 0 10px 30px;
}

button {
  border: none;
}

texera-user-icon {
  float: right;
  padding: 8px;
}

.layout {
  height: calc(100vh - 70px);
}

.ant-layout-content {
  background-color: white;
  border: 1px solid #f0f0f0;
}

.ant-menu {
  overflow-x: hidden;
  overflow-y: auto;
  height: calc(100vh - 70px - 48px);
}

nz-content {
  position: relative;
}