<nz-layout>
    <ul nz-menu nzMode="horizontal">
        <li nz-menu-item (click)="selectedMenu='datasets'" [nzSelected]="selectedMenu === 'datasets'">
            <span nz-icon nzType="database"></span>
            Datasets
        </li>
        <!-- Add more menu items here if needed -->
    </ul>

    <!-- Conditional Content Based on Selected Menu -->
    <div *ngIf="selectedMenu === 'datasets'">
        <button
                nz-button
                nzType="default"
                (click)="onClickOpenLinkDatasetWindow()"
        >
            Link Dataset
        </button>
        <!-- Content for Datasets -->
        <texera-user-environment-datasets-viewer
                [eid]="eid"
                [datasetIdToDatasetOfEnvironmentDetails]="datasetsOfEnvironment"
        >
        </texera-user-environment-datasets-viewer>
    </div>

    <!-- Add more content sections for other menu items if needed -->
</nz-layout>
