<nz-list-item class="environment-list-item">
  <nz-list-item-meta>
    <!-- Margin need only when the checkbox is not visible -->
    <nz-list-item-meta-avatar [ngStyle]="{ 'margin-left': editable ? 'none' : '16px' }">
      <label
        *ngIf="editable"
        nz-checkbox
        class="environment-item-checkbox"
        id="{{environment.eid}}"
        [(ngModel)]="entry.checked"></label>
      <nz-avatar
        [ngStyle]="{ 'background-color': 'grey', 'vertical-align': 'middle' }"
        [nzGap]="4"
        [nzText]="'' + environment.eid"
        nzSize="default"></nz-avatar>
    </nz-list-item-meta-avatar>

    <!-- editable name of saved environment -->
    <nz-list-item-meta-title class="meta-title-container">
      <div class="environment-item-meta-title">
        <a
          *ngIf="!editingName; else customEnvironmentTitle "
          [routerLink]="ROUTER_ENVIRONMENT_BASE_URL + '/' + environment.eid"
          class="environment-name"
        >{{ environment.name }}</a
        >
        <ng-template #customEnvironmentTitle>
          <input
            #customName
            (focusout)="confirmUpdateEnvironmentCustomName(customName.value)"
            (keyup.enter)="confirmUpdateEnvironmentCustomName(customName.value)"
            placeholder="{{ environment.name }}"
            value="{{ environment.name }}" />
        </ng-template>
        <button
          *ngIf="editable"
          (click)="editingName = true"
          nz-button
          mat-card-title="Customize Environment Name"
          nz-tooltip="Customize Environment Name"
          nzSize="small"
          nzTooltipPlacement="bottom"
          nzType="text">
          <i
            nz-icon
            nzTheme="outline"
            nzType="edit"></i>
        </button>
        <button
          *ngIf="editable"
          (click)="editingDescription = true"
          nz-button
          nz-tooltip="Add Description"
          nzSize="small"
          nzTooltipPlacement="bottom"
          nzType="text"
          class="add-description-btn">
          <i
            nz-icon
            nzTheme="outline"
            nzType="plus-square"></i>
        </button>
      </div>
    </nz-list-item-meta-title>

    <!-- editable description of saved environment -->
    <nz-list-item-meta-description>
      <div class="environment-item-meta-description">
        <label
          *ngIf="!editingDescription; else customEnvironmentDescription "
          (click)="editingDescription = editable"
          class="environment-description">
          {{ environment.description }}
        </label>
        <ng-template #customEnvironmentDescription>
          <input
            title="Description"
            #customDescription
            (focusout)="confirmUpdateEnvironmentCustomDescription(customDescription.value)"
            (keyup.enter)="confirmUpdateEnvironmentCustomDescription(customDescription.value)"
            class="environment-editable-description"
            value="{{ environment.description }}"
            maxlength="500" />
        </ng-template>
      </div>
    </nz-list-item-meta-description>
  </nz-list-item-meta>
</nz-list-item>
