.general-search-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .general-search-section {
    width: 100%;
    height: 76px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    gap: 10px;

    .go-back-button {
      margin-left: 15px;
      flex-shrink: 0;
    }

    .filters {
      margin-right: 24px;
      flex-grow: 1;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-shrink: 0;
    }
  }
  .general-search-result {
    width: 100%;
    height: 100%;
  }
}
