<nz-card 
  [nzBodyStyle]="{padding: '16px'}"
  class="list-item-card">
  <div 
    [routerLink]="entryLink"
    class="card-content">
    <div class="avatar-section">
      <texera-user-avatar
        class="user-avatar"
        googleAvatar=""
        userColor="#1E90FF"
        [userName]="entry.ownerName || 'User'">
      </texera-user-avatar>
      <div class="type-icon-div">
        <i
          nz-icon
          [nzType]="iconType"
        ></i>
      </div>
    </div>
    <div class="resource-info">
      <h3>{{ entry.name }} <em>#{{ entry.id }}</em></h3>
      <p class="resource-metadata">
        {{ entry.type }} • {{ entry.creationTime | date:'short' }} • by {{ entry.ownerName || 'User' }}
      </p>
      <p class="resource-description">
        {{ entry.description || "Empty Description"}}
      </p>
    </div>
  </div>
  <div class="kebab-menu">
    <a nz-dropdown [nzDropdownMenu]="menu">
      <i nz-icon nzType="more" nzTheme="outline"></i>
    </a>
    <nz-dropdown-menu #menu="nzDropdownMenu">
      <ul nz-menu>
        <li nz-menu-item>Action 1</li>
        <li nz-menu-item>Action 2</li>
        <li nz-menu-item>Action 3</li>
      </ul>
    </nz-dropdown-menu>
  </div>
</nz-card>
