<nz-card 
  nzHoverable
  [nzBodyStyle]="{padding: '16px'}"
  [routerLink]="entryLink"
  class="list-item-card">
  <div class="card-content">
    <div class="avatar-section">
      <texera-user-avatar
        class="user-avatar"
        googleAvatar=""
        userColor="#1E90FF"
        [userName]="entry.ownerName || 'User'">
      </texera-user-avatar>
      <div class="type-icon-div">
        <i
          nz-icon
          [nzType]="iconType"
        ></i>
      </div>
    </div>
    <div class="resource-info">
      <h3>{{ entry.name }}</h3>
      <p class="resource-metadata">
        {{ entry.type }} • {{ entry.creationTime | date:'short' }} • by {{ entry.ownerName || 'User' }}
      </p>
      <p class="resource-description">
        {{ entry.description || "Empty Description"}}
      </p>
    </div>
  </div>
</nz-card>
