.list-item-card {
    padding: 0;
    min-width: 700px;
    background-color: white;
    transition: background-color 0.2s ease;
    position: relative;
    .card-content {
      display: flex;
      flex-direction: row;
      justify-content: left;
      align-items: center;
      
      .avatar-section {
        position: relative;
        .user-avatar {
          ::ng-deep .texera-user-avatar {
            width: 60px; 
            height: 60px;
            line-height: 60px;
            font-size: 20px;
          }
        }
        .type-icon-div {
          position: absolute;
          text-align: center;
          right: -8px;
          bottom: -8px;
          width: 30px;
          height: 30px;
          font-size: 16px;
          border: 1px solid grey;
          border-radius: 15px;
          background-color: white;
          display: flex;         
          justify-content: center;
          align-items: center;
        
        }
      }

      .resource-info {
        margin-left: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        h3 {
          width: 100%;
          padding: 0;
          margin: 0;
          font-size: 16px;
          font-weight: 600;
        }
        .resource-metadata {
          width: 100%;
          font-size: 12px;
          font-weight: light;
          color: grey;
          margin: 0;
        }
        .resource-description {
          width: 100%;
          font-size: 12px;
          font-weight: light;
          color: grey;
          margin: 0;
        }
      }
    }
    .kebab-menu {
      position: absolute;
      right: 16px;
      bottom: 16px;
    }
    
    .kebab-menu a {
      color: inherit;
      text-decoration: none;
    }
    
    .kebab-menu i {
      font-size: 24px;
      cursor: pointer;
      padding: 5px;
      transform: rotate(90deg);
    }
    
    .kebab-menu i:hover {
      background-color: lightgrey;
    }
  }

.list-item-card:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}