<nz-card nzTitle="Operator Recommendation" class="recommendation-menu-card">
  <div class="recommendation-list">
    <div
      *ngFor="let tip of tips; let i = index"
      class="recommendation-item"
      [ngClass]="{ 'selected-item': selectedRecommendationIndex === i }"
      (click)="onRecommendedOperationClick(i)"
    >
      {{ tip }}
    </div>
  </div>

  <div class="menu-footer">
    <button nz-button nzType="primary" nzShape="round" [disabled]="selectedRecommendationIndex === null" (click)="onConfirmClick()">
      ✅ Confirm
    </button>
  </div>
</nz-card>
