.container {
  width: 100%;
  padding: 10px;
  //border: 1px solid #f0f0f0;
  margin-top: 10px;
}

.data-section {
  margin-bottom: 20px;
}

.button-group button {
  margin-right: 10px; /* Or whatever spacing you prefer */
}
