<!-- right-sidebar.component.html -->
<div>
  <nz-card class="right-sidebar-card">
    <div class="frame-title">
      <h2>{{ environmentName }}</h2>
    </div>

    <div class="data-section">
      <button (click)="onClickOpenAddDatasetWindow()" nz-button nzType="primary">
        Add Data
      </button>
      <button *ngIf="isEnvSwitchable" (click)="onClickSwitchEnvironment()" nz-button nzType="default">
        Switch Environment
      </button>
    </div>
  </nz-card>
  <nz-card class="right-sidebar-card">
    <h3>Datasets</h3>
    <nz-list *ngFor="let dataset of environmentDatasets; let i = index;">
      <texera-environment-dataset-item [dataset]="dataset"></texera-environment-dataset-item>
    </nz-list>
  </nz-card>
</div>
