.file-display-area {
  width: 90%;
  height: 100%;
  margin: auto;
}

.file-display-container {
  padding-top: 15px;
  margin-left: 2%;
  width: 95%;
  max-width: 600px;
  max-height: 600px;
  overflow-x: auto;
  overflow-y: auto;
}

.file-display-container.maximized {
  height: 100%;
}

.file-display-container.not-maximized {
  height: 80%;
}

/* CSS styles */
.image-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.full-size-image {
  max-width: 90%;
  max-height: 90%;
}
