#formly-title {
  position: relative;

  h3 {
    font-weight: bold;
    margin: 0;
    display: inline-block;
  }

  button {
    position: absolute;
    top: 45%;
    transform: translateY(-55%);
  }
}

.operator-version {
  text-align: right;
  position: relative;
  right: -5%;
  top: 30px;
  font-size: 0.5em;
  color: gray;
}

::ng-deep {
  // overwrite the color of the Formly error message box
  .property-editor-form {
    [role="alert"] {
      color: #856404;
      background-color: #fff3cd;
      border-color: #ffeeba;
    }
    nz-input-number {
      width: 100%;
    }
  }
}

#styledTable {
  width: auto;
  border-collapse: collapse;
  margin: 20px 0;
  font-family: Arial, sans-serif;
  font-size: 0.9em;
}

#styledTable thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

#styledTable th,
#styledTable td {
  padding: 12px 15px;
}

#styledTable tbody tr {
  border-bottom: 1px solid #dddddd;
}

#styledTable tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

#styledTable tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

#styledTable tbody tr:hover {
  background-color: #f1f1f1;
}
