#code-editor-container {
  position: fixed;
  left: 25vw;
  top: random(100) + px;
  z-index: 3;
  resize: both;
  overflow: hidden;
  width: 45vw;
  height: 45vh;
  min-width: 320px;
  min-height: 240px;
  border-radius: 3px;
}

#title {
  background: #333333;
  color: #fff;
  text-align: center;
  margin: 0;
  padding-bottom: 10px;
  line-height: 30px;
}

#close-button {
  line-height: 0;
  color: white;
  float: right;
}

#code-editor {
  width: 100%;
  height: 100%;
}

::ng-deep .yRemoteSelectionHead {
  position: absolute;
  border-left: solid 2px;
  border-top: solid 2px;
  border-bottom: solid 2px;
  height: 100%;
  box-sizing: border-box;
}

::ng-deep .yRemoteSelectionHead::after {
  position: absolute;
  content: " ";
  border: 3px solid;
  border-radius: 4px;
  left: -4px;
  top: -5px;
}

.annotation-suggestion {
  position: absolute;
  background: #222;
  color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.annotation-suggestion button {
  margin-right: 10px;
}

.annotation-suggestion button.accept-button {
  background-color: #28a745;
  color: #000;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.annotation-suggestion button.accept-button:hover {
  background-color: #218838;
}

.annotation-suggestion button.decline-button {
  background-color: #dc3545;
  color: #000;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.annotation-suggestion button.decline-button:hover {
  background-color: #c82333;
}

.noAnnotationNeeded {
  position: absolute;
  background: #f5f5dc;
  padding: 20px;
  border-radius: 8px;
  z-index: 1000;
  top: 80px;
  left: 80px;
  max-width: 280px;
  text-align: center;
}

.noAnnotationNeeded.title {
  margin-bottom: 15px;
  font-size: 28px;
}

.close-button-for-none {
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.close-button-for-none:hover {
  background-color: #218838;
}
