#code-editor-container {
  position: fixed;
  left: 25vw;
  top: random(100) + px;
  z-index: 3;
  resize: both;
  overflow: hidden;
  width: 45vw;
  height: 45vh;
  min-width: 320px;
  min-height: 240px;
  border-radius: 3px;
}

#title {
  background: #333333;
  color: #fff;
  text-align: center;
  margin: 0;
  padding-bottom: 10px;
  line-height: 30px;
}

#close-button {
  line-height: 0;
  color: white;
  float: right;
}

#code-editor {
  width: 100%;
  height: 100%;
}

::ng-deep .yRemoteSelectionHead {
  position: absolute;
  border-left: solid 2px;
  border-top: solid 2px;
  border-bottom: solid 2px;
  height: 100%;
  box-sizing: border-box;
}

::ng-deep .yRemoteSelectionHead::after {
  position: absolute;
  content: " ";
  border: 3px solid;
  border-radius: 4px;
  left: -4px;
  top: -5px;
}

.custom-tooltip {
  position: absolute;
  background: #333;
  color: #fff;
  padding: 20px; /* Increase padding to make tooltip larger */
  border-radius: 8px; /* Increase border-radius for smoother corners */
  z-index: 1000;
  pointer-events: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px; /* Set a fixed width to prevent resizing */
  height: 30px; /* Set a fixed height to prevent resizing */
}

.tooltip-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%; /* Make sure content container spans the entire tooltip */
}

.tooltip-value {
  margin-right: 10px;
  flex-grow: 1; /* Allow the value display to take up available space */
}

.edit-icon {
  cursor: pointer;
}

.custom-input {
  width: 100%; /* Ensure input spans the available width */
  padding: 5px;
  border: none;
  background: transparent; /* Make input background transparent */
  outline: none;
  display: none; /* Initially hide the input */
}

.custom-input:focus {
  border: none;
}




